.hero-section {
    height: 90vh;
    text-align: center;
    background-color: #044e22;
    color: #1af572;
    font-size: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-row{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 70px;
  }
  .hero-section h1 {
    font-size: 80px;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    font-weight: 700;
  }
  .hero-btn{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 12px;
    color: black;
    background-color: #1af572;
  }
  .hero-section .ratings {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .hero-section .ratings span {
    font-size: 1.2rem;
  }
  .hero-left-con1{
    display: flex;
    align-self: center;
    margin-top: 10px;
  }
  .hero-section button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  .hero-icon-p{
    color: white;
    font-size: 14px;
    margin-top: 10px;
  }
  .ratings-row-con{
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .star-icons-row{
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  @media (max-width: 768px) {
    .hero-section h1 {
      font-size: 2rem;
    }
  
    .hero-section .ratings span {
      font-size: 1rem;
    }
  
    .hero-section button {
      font-size: 1rem;
    }
  }
  