.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Ensure the dropdown menu positions correctly */
    height: 10vh;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(17, 118, 30);
  }
  .btn{
    margin-top: 2px;
    background-color: transparent;
    border: none;
    color: rgb(56, 57, 56);
    font-size: 25px;
    cursor: pointer;
  }
  .menu-icon {
    display: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
  }
  
  .nav-links {
    display: flex;
    gap: 3rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    font-size: 14px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #0070f3;
  }
  .call-row{
    display: flex;
    align-items: center;
  }
  .call-row2{
    display: flex;
    align-items: center;
  }
  .call-round{
    height:40px;
    width: 40px;
    border:3px solid green;
    border-radius: 50%;
    font-size: 25px;
    color: gray;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
  }
  .sign-in-btn{
    border: none;
    background-color: transparent;
    color: rgb(41, 40, 40);
    font-size: 15px;
  }

  /* CSS for medium and below screen sizes */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #fff;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
    .call-row2{
      display: none;
    }
  }
  
  