.testimonial-section {
    padding: 2rem 1rem;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .img-div{
    height: 60vh;
    width: 60%;
    background-color: red;
  }
  .tabs{
    display: flex;
    align-items: center;
  }
  .tabs button{
    height: 35px;
    width: 100px;
    border:3px solid  #044e22;
    border-radius: 20px;
    color: black;
    background-color:white;
    font-size: 13px;
  }
 .testimonial-right-con h2{
    font-size: 50px;
    color:  #044e22;
    font-family: Roboto;
    letter-spacing: 1px;
    margin-bottom: 10px;
 }
 .testimonial-left-con{
   width: 35vw;
 }
 .testimonial-right-con{
   width: 35vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 .testimonial-right-con button{
  height: 40px;
  width: 150px;
  background-color:  #044e22;
  color: white;
  font-size: 13px;
  border-radius: 20px;
  margin-top: 20px;
  border: none;
 }
 .star-row{
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
 }
 .star-row p {
  color: rgb(56, 55, 55);
  margin-left: 5px;
  text-align: center;
 }
  .testimonail-img{
    width: 100%;
    height: 100%;
  }
  .tabs {
    width: 60%;
    border-radius: 5px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
  }
  
  .tabs h2 {
    font-size: 1.8rem;
  }
  
  .tabs p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  
  .tabs button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .tabs h2 {
      font-size: 1.5rem;
    }
  
    .tabs p {
      font-size: 0.9rem;
    }
  
    .tabs button {
      font-size: 0.9rem;
    }
  }
  